body{
    padding: 0rem;
    margin: 0;
    background: #23333E;
}

.navigation{
    height: 5rem;
    background : #142330;
    display: flex;
    flex-direction: row;    
    align-items: center;
    color: white;
    gap: 2rem;
    border-bottom: 0.2px solid white;
    
}

.navigation *{
    cursor: pointer;
}

.logo {
    border-right: 1px solid white;
    margin: 0.5rem;
}

.logo img{
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}

.all{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10rem;
    margin: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50rem;
}

.about *{
    margin: 1rem;
}



.about img{
    border-right: 1px solid blueviolet;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
}



.textAbout{
    padding: 1rem;
    text-align: justify;
}

.tools{
    display: flex;
    flex-direction: row;
}

.tools img{
    position: relative;
    border: none;
    padding: 0;
    object-fit: contain;
    width: 2.5rem;
    height: 2.5rem;    
    padding: .5rem;
}

.tools div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    border: 2px solid blueviolet;
    position: relative;
    
}



.html{
    color: #23333E;    
    transition: all ease 500ms;
}

.html:hover{
    color: white;
    content: '80%';
    background: linear-gradient(transparent 20%, blueviolet 80%);
}

.html:before, .css:before, .js:before, .php:before, .mysql:before{
    content: '80%';
    position: absolute;
    font-size: 8px;
    top: 85%;
    left: 4%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.js:before{
    content: '20%';
}

.php:before, .sql:before{
    content: '50%';
}

.php{
    color: #23333E; 
    transition: all ease 500ms;
}

.php:hover{
    color: white;
    content: '80%';
    background: linear-gradient(transparent 50%, blueviolet );
}

.mysql{
    color: #23333E; 
    transition: all ease 500ms;
}

.mysql:hover{
    color: white;
    content: '80%';
    background: linear-gradient(transparent 50%, blueviolet );
}

.css{
    color: #23333E; 
    transition: all ease 500ms;
}

.css:hover{
    color: white;
    content: '80%';
    background: linear-gradient(transparent 20%, blueviolet 80%);
}

.js{
    color: #23333E; 
    transition: all ease 500ms;
}

.js:hover{
    color: white;
    content: '80%';
    background: linear-gradient(transparent 80%, blueviolet );
}

